@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif ;
}
.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50%;
    padding: 5px 0;
    background-color: #fff;
    
}
.navbar{
   display: flex;
   position: relative;
   justify-content: space-between;
   align-items: center;
   padding-top: 40px;
}
.CTA{
    display: flex;
    margin-top: 30px;
    position: relative;
    text-decoration: none;
}
.styleCTA{
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    border: 1px solid #25d356;
    color: #ffff;
    background-color: #25d356;
    padding: 10px;
}
.reg-users{
    align-items: center;
    justify-content: center;
}


li{
    margin-left: 30px;
} 
.stylenav{
    list-style: none;
    font-size: 14px;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #25d356;
    height: 40px;
    width: 200px;
    padding: 10px;
    background-color:#25d356 ;
    color: #ffff;
}
.stylecard{
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #25d356;
    justify-content: center;
}
.logo{
    display: flex;
    font-size: 80px;
    font-weight: bold;
    color: #25d356;
}

.styleLogo{
    color:#000 ;
}
.Logo{
    color: #ffff;
    font-size: 80px;
    font-weight: bold;
}
h4{
    text-align: center;
    font-size: 16px;
    color: #000;
    margin-top:20px ;
}
h6{
    font-size: 60px;
    color: black;
    margin-left: 20px;
}
.img p{
    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #25d356;
}
.stylecard p{
    width: 80%;

}
.blogcards{
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffff;
    color: #fff;
    padding: 20px;
}
.stylecard{
    padding: 20px;
}
.main-blog{
    font-size: 14px;
    text-decoration: none;
    color: blue;
    transition: all 0.3s ease-in-out;
}
.team-col{
    display: flex;
    width: 25%;
    padding: 10px 10px;
    border-radius: 80px;
    border: 1px solid #25d356;
    margin-left: 40px;
    margin-top: 60px;
}
.team-col img{
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 4px solid #25d356;
}
.team-col p{
    width: 70%;
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}
.team{
    display: flex;
    padding: 80px 0;
}
.team-col li{
    list-style: none;
    
}
.footer{
    background-color: #25d356;
    padding: 20px 40px 20px 0;
}
.content{
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col h4 ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li :not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    font-weight: 300px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    color: #ffff;
    display: flex;
    transition: all 0.3s ease;

}
.row .footer-col ul li a :hover {
    color: #000;
    padding-left: 8px;

}
.footer-col .social-links a{
    height: 40px;
    width :60px;
    background-color: #000;
    margin: 0 20px 20px 0;
    margin-right: 50px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 20%;
    color: #ffff;
    transition: all 0.5 ease;

}
.footer-col .social-links a :hover{
    color: #000;
    background-color: #25d356;
}
 .img{
    min-height: 100vh;
    background-image: linear-gradient(to right , rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(./IMAGES/pexels-edgars-kisuro-1488467\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 @media (max-width:600px) {
    .head{
        max-width: 100%;
        margin: 0;
        padding: 0;
        
    }
    .navbar{
        width: -100px;
        margin-top: -20px;


    }
    .logo{
        font-size: 40px;

    }
    .stylenav{
        height: 20px;
        width: 100px;
        padding: 2px;
        font-size: 10px;

    }
    h6{
        font-size: 30px;
        margin-top: 10px;
        margin-left:  10px;
        
    }
    .img p{
        width :50%;
        margin-top: -10px;
        font-size: 10px;

    }
    .CTA{
        margin-top: 10px;
    }
    .styleCTA{
        height: 20px;
        width: 100px;
        padding: 2px;
        font-size: 10px;
    }
    h4{
        font-size: 10px;
        margin-top: 10px;
    }
    h1{
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    h3{
        font-size: 10px;
    }
    .stylecard p {
        height: 20px;
        font-size: 8px;
    }
    .blogcards{
        padding: 5px;

    }
    .main-blog {
        font-size: 5px;

    }
    h2{
        margin-top: -40px;
        margin-bottom: -20px;
        font-size: 20px;

    }
    .team-col{
        border-radius: 40px;
    }
    .team-col img{
        height: 100px;
        width: 100px;
        margin-left: -20px;
    }
    .team-col p{
        font-size: 8px;
        width: 100%;

    }
    .Logo{
        font-size: 40px;
        margin-bottom: 50px;

    }
    .footer{
        padding: 10px 20px 10px 0;
    }.footer-col h4{
        font-size: 14px;
    }
    .footer-col ul li a {
        font-size: 14px;
    }
    .footer-col .social-links a {
        width: 30px;
    }

}
@media (max-width:768px) {
    .head{
        width: 100%;
    }
    .navbar{
        width: -100px;
        margin-top: -20px;
    }
    .logo{
        font-size: 60px;
    }
    .stylenav{
        height: 20px;
        width: 100px;
        padding: 4px;
        font-size: 12px;
        margin-bottom: -10px;

    }
    h6{
        font-size: 40px;
        margin-top: 10px;
        margin-left:  10px;
        
    }
    .img p{
        width :50%;
        margin-top: -10px;
        font-size: 12px;

    }
    .CTA{
        margin-top: 10px;
    }
    .styleCTA{
        height: 20px;
        width: 100px;
        padding: 4px;
        font-size: 12px;
    }
    .stylecard p {
        height: 20px;
        font-size: 8px;
    }
    .blogcards{
        padding: 5px;

    }
    .main-blog {
        font-size: 5px;

    }
    .team-col{
        border-radius: 40px;
    }
    .team-col img{
        height: 100px;
        width: 100px;
        margin-left: -20px;
    }
    .team-col p{
        font-size: 8px;
        width: 100%;

    }
    .Logo{
        font-size: 60px;
        margin-bottom: 50px;

    }
    
}
@media (max-width:992) {
    .head{
        width: 100%;
    }
    .navbar{
        width: -100px;
        margin-top: -20px;
    }
    .logo{
        font-size: 60px;
    }
    .stylenav{
        height: 20px;
        width: 100px;
        padding: 4px;
        font-size: 12px;
        margin-bottom: -10px;

    }
    h6{
        font-size: 40px;
        margin-top: 10px;
        margin-left:  10px;
        margin-bottom: 20px;
        
    }
    .img p{
        width :50%;
        margin-top: -20px;
        font-size: 12px;

    }
    .CTA{
        margin-top: 10px;
    }
    .styleCTA{
        height: 20px;
        width: 100px;
        padding: 2px;
        font-size: 10px;
    }
    .stylecard p {
        height: 20px;
        font-size: 8px;
    }
    .blogcards{
        padding: 5px;

    }
    .main-blog {
        font-size: 5px;

    }
    .team-col{
        border-radius: 40px;
    }
    .team-col img{
        height: 100px;
        width: 100px;
        margin-left: -20px;
    }
    .team-col p{
        font-size: 8px;
        width: 100%;

    }
    .Logo{
        font-size: 60px;
        margin-bottom: 50px;

    }
    
    
    
    
}




 

